<div class="container">
    <div class="row">
        <div class="col-md-12">
            <footer class="footer d-flex justify-content-between">
                <div class="icon-container">
                    <a href="https://www.instagram.com/Firacard" target="_blank"><i class="fab fa-instagram"></i></a> &nbsp;
                    <a href="https://www.facebook.com/Firacard" target="_blank"><i class="fab fa-facebook-f"></i></a> &nbsp;
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <div>
                    <h6>© 2021 FiraCard. All rights reserved</h6>
                </div>
            </footer>
        </div>
    </div>
</div>