<div class="container">
    <div class="row">
        <div class="col-md-12">
            <footer class="footer d-flex justify-content-between">
                <div class="icon-container">
                    <a href="https://www.facebook.com/Firacard" target="_blank" ><img src="/assets/icons/facebook.svg" alt="icon"></a>
                    <a href="https://www.twitter.com/Firacard" target="_blank" ><img src="/assets/icons/twitter.svg" alt="icon"></a>
                    <a href="https://www.instagram.com/firacard" target="_blank" >
                        <div class="d-inline-block border p-2 rounded-circle">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                </div>
                <div>
                    <h6>© 2021 FiraCard. All rights reserved</h6>
                </div>
            </footer>
        </div>
    </div>
</div>