<!-- <div class="signContainer">
    <div class="loginImage">
        <img class="auth-banner-img" src="./assets/img/login.png" alt="SignUp image">
    </div>
    <div class="signUpForm ">
        <div class="loginRedirect">
            
            <div class="or">
                <div class="line"></div>
                <p>or</p>
                <div class="line"></div>
            </div>
        </div>
        <div class="signUp loginForm">
            <div class="signTitle">
                <h3>Welcome back</h3>
                <p>Sign in to your FiraCard account to continue</p>
            </div>
            <form [formGroup]="form" (ngSubmit)="login()">
                <div class="formInner">
                    <label for="email">Email Address</label>
                    <div class="input">
                        <span class="userIcon"><i class='fas fa-envelope'></i></span>
                        <input formControlName="email" type="email" placeholder="myemail@gmail.com">
                        <div class="text-danger" *ngIf="(submitted || f('email').touched) && f('email').invalid">
                            <span *ngIf="f('email').errors?.required">*email is required</span>
                            <span *ngIf="!(f('email').errors?.required)">*email is invalid</span>
                        </div>
                    </div>
                </div>
                <div class="formInner">
                    <label for="password">Password</label>
                    <span class="forgotPwd"><a href="#">Forgot password?</a></span>
                    <div class="input">
                        <span class="userIcon"><i class="fas fa-shield-alt"></i></span>
                        <input formControlName="password" [type]="!isShowPwd ? 'password' : 'text'" placeholder="*****************">
                        <span (click)="showPwd()" class="userIcon eye cursor-pointer"><i class="fas fa-eye"></i></span>

                        <div class="text-danger" *ngIf="(submitted || f('password').touched) && f('password').invalid">
                            <span *ngIf="f('password').errors?.required">*password is required</span>
                            <span *ngIf="!(f('password').errors?.required)">*password must be up to 8 characters</span>
                        </div>
                    </div>
                </div>
                <div class="formInner submitBtn">
                    <input [disabled]="loading" type="submit" [value]="loading ? 'Loading...' : 'Sign in'">
                </div>
            </form>
        </div>
    
        <div class="loginRedirect">
            <div class="loginRedirectTitle">
                <p>Don't have an account?</p>
                <a routerLink="/register">REGISTER HERE</a>
            </div>
        </div>
    </div>
</div> -->

<div class="h-80v align-items-center justify-content-center d-flex">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <h3>Welcome, Sign in</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada eget.</p>
            </div>
            <div class="col-md-6 offset-md-3">
                <app-oauth></app-oauth>
            </div>
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="form" (ngSubmit)="login()">
                    <div class="formInner">
                        <label for="email">Email Address</label>
                        <div class="input">
                            <span class="userIcon"><i class='fas fa-envelope'></i></span>
                            <input formControlName="email" type="email" placeholder="myemail@gmail.com">
                            <div class="text-danger" *ngIf="(submitted || f('email').touched) && f('email').invalid">
                                <span *ngIf="f('email').errors?.required">*email is required</span>
                                <span *ngIf="!(f('email').errors?.required)">*email is invalid</span>
                            </div>
                        </div>
                    </div>
                    <div class="formInner">
                        <label for="password">Password</label>
                        <!-- <span class="forgotPwd"><a href="#">Forgot password?</a></span> -->
                        <div class="input">
                            <span class="userIcon"><i class="fas fa-shield-alt"></i></span>
                            <input formControlName="password" [type]="!isShowPwd ? 'password' : 'text'" placeholder="*****************">
                            <span (click)="showPwd()" class="userIcon eye cursor-pointer"><i class="fas fa-eye"></i></span>
    
                            <div class="text-danger" *ngIf="(submitted || f('password').touched) && f('password').invalid">
                                <span *ngIf="f('password').errors?.required">*password is required</span>
                                <span *ngIf="!(f('password').errors?.required)">*password must be up to 8 characters</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <button [disabled]="loading" class="btn bg-red btn-block text-white py-3">
                            {{loading ? 'Loading...' : 'Sign in'}}
                        </button>
                    </div>
                    <!-- <div class="formInner submitBtn">
                        <input [disabled]="loading" class="bg-red" type="submit" [value]="loading ? 'Loading...' : 'Sign in'">
                    </div> -->
                </form>
                <div class="px-3 mt-4">
                    <hr>
                </div>    
                <div class="text-center">
                    <p>Don't have an account?</p>
                    <a class="text-danger" routerLink="/register">Register Here</a>
                </div>
            </div>
        </div>
    </div>
</div>