<div class="signContainer">
    <div class="loginImage">
        <img class="auth-banner-img" src="./assets/img/login.png" alt="SignUp image">
    </div>
    <div class="signUpForm ">
        <div class="loginRedirect">
            <div class="socialContainer">
                <div class="socialInner">
                    <a href="https://google.com" class="social">
                        <img src="./assets/img/google.png" alt="google">
                        <p>sign in with google</p>
                    </a>
                </div>
                <div class="socialInner">
                    <a href="https://facebook.com" class="social">
                        <span><i class="fab fa-facebook"></i></span>
                        <p>sign in with facebook</p>
                    </a>
                </div>
            </div>
            <div class="or">
                <div class="line"></div>
                <p>or</p>
                <div class="line"></div>
            </div>
        </div>
        <div class="signUp loginForm">
            <div class="signTitle">
                <h3>Welcome back</h3>
                <p>Sign in to your FiraCard account to continue</p>
            </div>
            <form action="">
                <div class="formInner">
                    <label for="email">Email Address</label>
                    <div class="input">
                        <span class="userIcon"><i class='fas fa-envelope'></i></span>
                        <input type="email" placeholder="myemail@gmail.com">
                    </div>
                </div>
                <div class="formInner">
                    <label for="password">Password</label>
                    <span class="forgotPwd"><a href="#">Forgot password?</a></span>
                    <div class="input">
                        <span class="userIcon"><i class="fas fa-shield-alt"></i></span>
                        <input type="password" placeholder="*****************">
                        <span class="userIcon eye"><i class="fas fa-eye"></i></span>
                    </div>
                </div>
                <div class="formInner submitBtn">
                    <input type="submit" value="Sign in">
                </div>
            </form>
        </div>
    
        <div class="loginRedirect">
            <div class="loginRedirectTitle">
                <p>Don't have an account?</p>
                <a routerLink="/register">REGISTER HERE</a>
            </div>
        </div>
    </div>
</div>
