
<ng-container *ngIf="board; else loadingPage">
     
    <app-board-settings (emitEvent)="eventEmitted($event)" [board]="board"  #boardSettingComp></app-board-settings>
    <app-send-board  [board]="board" [boardUrl]="boardLink" (emitEvent)="eventEmitted($event)" ></app-send-board>
    <div class="bg-pry" *ngIf="board.isLocked && board.creatorId._id!==userDetail._id; else showBoardAccess">
        <div class="container">
            <div class="row d-flex my-auto align-items-center" style="height: 80vh;">
                <div class="col-md-6 offset-md-3 mt-5">
                    <div class="card">
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <div>
                                <h6>Please enter the password the board creator sent you</h6>
                                <div class="w-50 d-flex mx-auto">
                                    <div class="form-group" >
                                        <input [(ngModel)]="inputtedPwd" #inputtedPwdVal="ngModel" name="inpPwd" type="text" 
                                            class="form-control" placeholder="enter password" required>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button [disabled]="inputtedPwdVal.invalid || loadingVerify" (click)="verifyPwd()" class="btn btn-pry">
                                        Verify <i *ngIf="loadingVerify" class="fa fa-spinner fa-spin"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #showBoardAccess>
        <section class="py-5 main-header"  
            [style.background]="seletedTemplate.header_color"
            [style.color]="seletedTemplate.font_color"
        >
            <header class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-center">
                            <span>{{board.boardTitle}}</span>
                            <ng-container *ngIf="pageMode=='edit'">
                                <span *ngIf="userDetail._id === board?.creatorId?._id"
                                class="ml-2 cursor-pointer" data-toggle="modal" data-target="#createBoardModal" >
                                <i style="font-size: 20px;" class="fa fa-edit"></i>
                            </span>
                            </ng-container>
                        </h2>
                        <div *ngIf="pageMode==='view'" class="d-flex justify-content-center mt-3">
                            <div class="share-icon-container">
                                <span>Share</span>
                                <span><i class="fab fa-facebook text-secondary"></i></span>
                                <span><i class="fab fa-twitter text-secondary"></i></span>
                                <span><i class="fab fa-linkedin text-secondary"></i></span>
                                <span class="mr-0"><i class="fab fa-pinterest text-secondary"></i></span>
                            </div>
                        </div>
                        <nav *ngIf="pageMode==='download'"  class="mt-2 d-flex justify-content-center nav-menu cursor-pointer">
                            <h6 (click)="handleDownloadBoard()">
                                <span class="d-inline-block p-3 shadow-sm rounded-circle icon-circle"
                                    [style.background]="seletedTemplate.header_color">
                                    <i class="fa fa-download"></i>
                                </span>
                                <span class="ml-2">Download board</span>
                            </h6>
                        </nav>
                        <nav *ngIf="showEditBtn" (click)="viewAsRecipient('edit')" class="mt-2 d-flex justify-content-center nav-menu cursor-pointer">
                            <h6 >
                                <span class="d-inline-block p-3 shadow-sm rounded-circle icon-circle"
                                    [style.background]="seletedTemplate.header_color">
                                    <i class="fa fa-edit"></i>
                                </span>
                                <span class="ml-2">View as editor</span>
                            </h6>
                        </nav>
                        <nav *ngIf="pageMode==='edit'" class="mt-3 d-flex justify-content-center nav-menu">
                            <div *ngFor="let menu of navMenus" class="nav-item" (click)="navClick(menu.slug)" >
                                <h6  *ngIf="userDetail._id === board?.creatorId?._id && menu.slug != 'add_to_board'" >
                                    <span class="d-inline-block p-3 shadow-sm rounded-circle icon-circle" 
                                        [style.background]="seletedTemplate.header_color">
                                        <i class="fa {{menu.icon}}"></i>
                                    </span>
                                    <span class="ml-2">{{menu.name}}</span>
                                </h6> 
                                <h6  *ngIf="menu.slug == 'add_to_board'" >
                                    <span class="d-inline-block p-3 shadow-sm rounded-circle icon-circle"
                                        [style.background]="seletedTemplate.header_color">
                                        <i class="fa {{menu.icon}}"></i>
                                    </span>
                                    <span class="ml-2">{{menu.name}}</span>
                                </h6> 
                            </div>
                        </nav> 
                    </div>
                </div>
            </header>
        </section>
        <section  id="board-container"
        [style.background]="
        seletedTemplate.low_res_url ? 'url('+seletedTemplate.low_res_url+')': 
        seletedTemplate.background_color" 
            class="main-container" 
        >
            <section class="container">
                <div class="row-content">
                    <div class="column-md-3 my-4" *ngFor="let card of board.cards; let i = index">
                        <div class="card w-100 rounded-lg">
                            <div class="card-body">
                                <ng-container *ngIf="card.mediaType === 'image' || card.mediaType === 'gif'">
                                    <img crossorigin="anonymous" *ngIf="card.mediaUrl" class="card-img-top" height="80%" [src]="card.mediaUrl" alt="img">
                                </ng-container>
                                <ng-container *ngIf="card.mediaType === 'video' ">
                                    <ng-container *ngIf="card.mediaUrl; else noVideoMediaUrl">
                                        <ng-container *ngIf="card.mediaUrl.includes('youtube'); else uploadedVideo">
                                            <iframe crossorigin="anonymous" height="250" width="100%"
                                              [src]="domSanitizer.bypassSecurityTrustResourceUrl(getYoutubeEmbedUrl(card.mediaUrl))">
                                           </iframe>
                                        </ng-container>
                                        <ng-template #uploadedVideo>
                                            <video crossorigin="anonymous" width="100%" height="250" controls>
                                                <source id="videoIDSelector" [src]="card.mediaUrl" type="video/mp4">
                                              Your browser does not support the video tag.
                                              </video>
                                        </ng-template>
                                    </ng-container>
                                    <ng-template #noVideoMediaUrl>
                                        <p>No mediaurl</p>
                                    </ng-template>
                                </ng-container>
                                <p class="card-text mt-5">{{card.postContent}}</p>
                            </div>
                            <div class="card-footer d-flex justify-content-lg-between">
                                <div >
                                    <div class="dropdown" *ngIf="card.creatorId?._id == userDetail._id">
                                        <a class="dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-ellipsis-h text-dark"></i>
                                          </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                          <a class="dropdown-item cursor-pointer" (click)="editCard(card._id)">Edit</a>
                                          <!-- <a class="dropdown-item" href="#">Delete</a> -->
                                        </div>
                                      </div>
                                </div>
                                <div><p><span class="text-muted">From</span> {{(card.creatorName || (card.creatorId?.firstName) || 'nil')}}</p></div>
                            </div>
                          </div>
                        </div>
                </div>
            </section>
        </section>
    </ng-template>

<app-create-board [board]="board" (emitEvent)="getBoard()" ></app-create-board>
 <!--Direct Link-->
 <input type="text" id="contr_direct_link" [value]="boardLink" class="d-none">
<!-- Button trigger modal -->
<button type="button" id="inviteContrBtn" class="btn btn-primary d-none" data-toggle="modal" data-target="#inviteContributors">
    invite user
  </button>

  
  <!-- Invite Contributors Modal -->
  <div class="modal fade" id="inviteContributors" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="">
            <div class="text-right mr-2">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span style="font-size: 30px;" aria-hidden="true">&times;</span>
              </button>
            </div>
            <h4 class="mt-3 modal-title text-center">Invite Contributors</h4>
          </div>
        <div class="modal-body">
            <ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Email Invite</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Direct Link</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div >
                        <div class="form-group">
                            <label>Contributor’s Email</label>
                            <input [(ngModel)]="contributorsEmail" name="contributorEmail" type="text"
                                placeholder="use a comma to seprate emails" class="form-control mb-2">
                            <!-- <p (click)="addMoreContributor()" class="cursor-pointer text-right text-pry ">+ more contributors</p> -->
                        </div>
                        <div class="form-group">
                            <div class="d-flex">
                                <p>
                                    Notify contributors that they have been invited to edit and contribute to the board.
                                </p>
                                <div>
                                    <div class="custom-control custom-switch pry">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                        <label class="custom-control-label" for="customSwitch1"></label>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="d-flex">
                                <p>
                                    Notify contributors 24hrs before scheduled delivery of  delivery time.
                                </p>
                                <div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                        <label class="custom-control-label" for="customSwitch2"></label>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <button [disabled]="!contributorsEmail || laodingSendInvite" (click)="sendInvite()" type="button" class="btn btn-pry btn-block">
                                Send Invite <i *ngIf="laodingSendInvite" class="fa fa-spinner fa-spin"></i>
                            </button>
                          </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <button class="btn btn-copy btn-block my-4">
                        <span>{{boardLink}}</span>
                    </button>

                    <button (click)="copyDirectLink()" class="btn btn-pry mt-3 btn-block">Copy invite Link</button>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>
<ng-template #loadingPage>
    <app-loader></app-loader>
</ng-template>