<header class=" d-flex justify-content-center align-items-center">
    <div>
        <div class="my-5">
            <h2 class="text-center">Happy Birthday Esther</h2>
        </div>
        <nav class=" d-flex justify-content-center nav-menu">
            <div *ngFor="let menu of navMenus" class="nav-item" (click)="navClick(menu.slug)" >
                <h6>
                    <span class=" d-inline-block p-3 shadow-sm rounded-circle icon-circle">
                        <img [src]="'/assets/icons/'+ menu.icon" [alt]="menu.icon">
                    </span>
                    <span>{{menu.name}}</span>
                </h6> 
            </div>
        </nav> 
    </div>
</header>
<div class="main-container">
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-3 mb-4" *ngFor="let card of cards">
                <div class="card rounded-lg">
                    <div class="card-body">
                        <img class="card-img-top" src="/assets/img/card1.png" alt="Card image cap">
                        <p class="card-text mt-5">Pretium dictum semper elementum hac vestibulum tabii nedara ges estila cumme Pretium dictum 
                            semper elementum hac vestibulum tabii nedara ges estila cumme. Pretium dictum semper elementum hac vestibulum 
                            tabii nedara ges estila cumme</p>
                    </div>
                  </div>
            </div>
        </div>
    </section>
</div>