    <!-- Start Nav -->
    <div class="navContainer">
        <div class="logo">
            <a routerLink="/"><img src="./assets/img/logo.png" alt="logo"></a>
        </div>
        <div class="links hideLinks">
            <div>
                <a routerLink="/">About Us</a>
            </div>
            <div>
                <a routerLink="/" [fragment]="'howitworks'">How it works</a>
            </div>
            <div>
                <a routerLink="/" [fragment]="'features'">Features</a>
            </div>
            <div>
                <a  routerLink="/" [fragment]="'pricing'">Pricing</a>
            </div>
        </div>
        <!-- <div class="toggle">
            <i class="fa fa-bars"></i>
        </div>
        <div class="close closeBtn"><i class="fa fa-times"></i></div> -->
        <div class="navBtn">
            <span><a routerLink="/signin">Sign in</a></span>
            <div class="btnx green">
                <a routerLink="/register"><button>Create a Group Board</button></a>
            </div>
        </div>
    </div>
    <!-- End Nav -->