    <app-header></app-header>
    <div class="homeContainer">
        <div class="homeContainerInner">
            <div class="homeText">
                <h1>A special gesture for a special someone</h1>
                <p>Celebrate a special someone with an online greeting card today, include videos, images and touching messages.
                </p>
        
                <span class="green btnx"><a href="#"><button>Create a Group Board</button></a></span>
                <div class="btnx smallLink"><a href="./index#howitworks">How to?</a></div>
            </div>
            <div class="imageContainer">
                <div class="image1 homeImage">
                    <img src="./assets/img/home1.png" alt="home1">
                </div>
                <div class="image2 homeImage">
                    <img src="./assets/img/home2.png" alt="home2">
                </div>
                <div class="image3 homeImage">
                    <img src="./assets/img/home3.png" alt="home3">
                </div>
            </div>
        </div>
    </div>
    <div class="trusted">
        <div class="title">
            <h3>Trusted by the best of the best</h3>
        </div>
        <div class="trustedImage">
            <span>
                <img src="./assets/img/robinhood.png" alt="robinhood">
            </span>
            <span>
                <img src="./assets/img/linkedinLogo.png" alt="nike">
            </span>
            <span>
                <img src="./assets/img/paypal.png" alt="kuda">
            </span>
            <span>
                <img src="./assets/img/Zenith.png" alt="interswitch">
            </span>
            <span>
                <img src="./assets/img/BTlogo.png" alt="dangote">
            </span>
            <span>
                <img src="./assets/img/flutterwave.png" alt="flutterwave">
            </span>
            <span>
                <img src="./assets/img/samsung.png" alt="paystack">
            </span>
            <span>
                <img src="./assets/img/google1.png" alt="google">
            </span>
        </div>
    </div>

    <div class="works" id="howitworks">
        <div class="title">
            <h3>How FiraCard works</h3>
        </div>
        <div class="worksInner">
            <div class="worksInnerText">
                <h4><span>1</span> Create a board</h4>
                <p>Vel pretium dictum semper elementum hac vestibulum. Sit at vestibulum elit cursus adipiscing viverra elit.</p>
                <img src="./assets/img/createBoard.png" alt="create Board">
            </div>
            <div class="worksInnerText">
                <h4><span>2</span> Invite contributors(or not)</h4>
                <p>Vel pretium dictum semper elementum hac vestibulum. Sit at vestibulum elit cursus adipiscing viverra elit.</p>
                <img src="./assets/img/inviteCollab.png" alt="invite collaborators">
            </div>
            <div class="worksInnerText">
                <h4><span>3</span> Send your wishes</h4>
                <p>Vel pretium dictum semper elementum hac vestibulum. Sit at vestibulum elit cursus adipiscing viverra elit.</p>
                <img src="./assets/img/sendWishes.png" alt="send wishes">
            </div>
        </div>
    </div>

    <div class="greetingCard">
        <div class="title">
            <h3>Greeting cards for every occassion</h3>
            <p>Let your loved ones know you have them in mind with these beautiful templates</p>
        </div>

        <div class="cards">
            <div class="cardInner" title="Birthdays">
                <a href="#">
                    <!-- <div class="cardText">
                        <p>Birthdays</p>
                    </div> -->
                    <img src="./assets/img/card1.png" alt="card1">
                </a>
            </div>
            <div class="cardInner" title="Promotion">
                <a href="#">
                    <!-- <div class="cardText">
                        <p>Promotion</p>
                    </div> -->
                    <img src="./assets/img/card2.png" alt="card1">
                </a>
            </div>
            <div class="cardInner" title="Work Anniversary">
                <a href="#">
                    <!-- <div class="cardText">
                        <p>Work Anniversary</p>
                    </div> -->
                    <img src="./assets/img/card3.png" alt="card1">
                </a>
            </div>
            <div class="cardInner" title="Get well soon">
                <a href="#">
                    <!-- <div class="cardText">
                        <p>Get well soon</p>
                    </div> -->
                    <img src="./assets/img/card4.png" alt="card1">
                </a>
            </div>
            <div class="cardInner" title="Retirements">
                <a href="#">
                    <!-- <div class="cardText">
                        <p>Retirements</p>
                    </div> -->
                    <img src="./assets/img/card5.png" alt="card1">
                </a>
            </div>
            <div class="cardInner" title="Goodbyes">
                <a href="#">
                    <!-- <div class="cardText">
                        <p>Goodbyes</p>
                    </div> -->
                    <img src="./assets/img/card6.png" alt="card1">
                </a>
            </div>
        </div>
        
        <div class="btnx green greetingBtn">
            <a href="#"><button>Create a Group Board</button></a>
        </div>
    </div>
    <div class="explanationContainer" id="features">
        <div class="title">
            <h3>Exclusive Features</h3>
            <p>The extra features for your team, only on FiraCard.</p>
        </div>
        <div class="explanation">
            <div class="explainImage">
                <div><img src="./assets/img/explain1.png" alt=""></div>
                <div><img src="./assets/img/explain2.png" alt=""></div>
            </div>
            <div class="explainText">
                <div class="explainTextInner">
                    <h5>Add numberous countributor</h5>
                    <p>Vel pretium dictum semper elementum hac vestibulum. Sit at vestibulum elit cursus
                        adipiscing viverra elit pretium dictum semper elementum hac vestibulum. </p>
                </div>
                <div class="explainTextInner">
                    <h5>Free for first 10 boards</h5>
                    <p>Vel pretium dictum semper elementum hac vestibulum. Sit at vestibulum elit cursus
                        adipiscing viverra elit pretium dictum semper elementum hac vestibulum. </p>
                </div>
                <div class="explainTextInner">
                    <h5>Easy user interface</h5>
                    <p>Vel pretium dictum semper elementum hac vestibulum. Sit at vestibulum elit cursus
                        adipiscing viverra elit pretium dictum semper elementum hac vestibulum. </p>
                </div>
                <div class="explainTextInner">
                    <h5>Trusted by the very best </h5>
                    <p>Vel pretium dictum semper elementum hac vestibulum. Sit at vestibulum elit cursus
                        adipiscing viverra elit pretium dictum semper elementum hac vestibulum. </p>
                </div>
            </div>
        </div>

        <div class="btnx green explanationBtn"><a href="#"><button>Create a Group Board</button></a></div>
    </div>
    <div class="testimonial">
        <div class="title">
            <h3>What People Are Saying</h3>
            <p>A look into what people are saying about our services</p>
        </div>
        <div class="glider">
            <div class="gliderInner">
                <div class="testimonialWriter">
                    <h5>Startup Founder</h5>
                    <small>Ontario, Canada.</small>
                    <div class="testimonialStar">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                </div>
                <div>
                    <div><i class="fas fa-quote-left"></i></div>
                    <p>Pretium dictum semper elementum hac vestibulum tabii nedara ges estila cumme Pretium dictum semper elementum
                        hac
                        vestibulum tabii nedara ges estila cumme. Pretium dictum semper elementum hac vestibulum tabii nedara ges
                        estila
                        cumme
                        Pretium dictum semper elementum hac vestibulum tabii nedara ges estila cumme. . Pretium dictum semper
                        elementum
                        hac</p>
                    <div><i class="fas fa-quote-right"></i></div>
                </div>
            
                <div class="testimonialIdentity">
                    <img src="./assets/img/testimonialImage1.png" alt="testimonial identity">
                    <p>James Doe</p>
                    <!-- <small>Califonia, USA.</small> -->
                </div>
            </div>
            <div class="gliderInner">
                <div class="testimonialWriter">
                    <h5>Startup Founder</h5>
                    <small>Ontario, Canada.</small>
                    <div class="testimonialStar">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                </div>
                <div>
                    <div><i class="fas fa-quote-left"></i></div>
                    <p>Pretium dictum semper elementum hac vestibulum tabii nedara ges estila cumme Pretium dictum semper elementum
                        hac
                        vestibulum tabii nedara ges estila cumme. Pretium dictum semper elementum hac vestibulum tabii nedara ges
                        estila
                        cumme
                        Pretium dictum semper elementum hac vestibulum tabii nedara ges estila cumme. . Pretium dictum semper
                        elementum
                        hac</p>
                    <div><i class="fas fa-quote-right"></i></div>
                </div>
            
                <div class="testimonialIdentity">
                    <img src="./assets/img/testimonialImage2.png" alt="testimonial identity">
                    <p>John Doe</p>
                    <!-- <small>Califonia, USA.</small> -->
                </div>
            </div>
            <div class="gliderInner">
                <div class="testimonialWriter">
                    <h5>Startup Founder</h5>
                    <small>Ontario, Canada.</small>
                    <div class="testimonialStar">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                </div>
                <div>
                    <div><i class="fas fa-quote-left"></i></div>
                    <p>Pretium dictum semper elementum hac vestibulum tabii nedara ges estila cumme Pretium dictum semper elementum hac
                    vestibulum tabii nedara ges estila cumme. Pretium dictum semper elementum hac vestibulum tabii nedara ges estila
                    cumme
                    Pretium dictum semper elementum hac vestibulum tabii nedara ges estila cumme. . Pretium dictum semper elementum
                    hac</p>
                    <div><i class="fas fa-quote-right"></i></div>
                </div>
            
                <div class="testimonialIdentity">
                    <img src="./assets/img/testimonialImage3.png" alt="testimonial identity">
                    <p>Jane Doe</p>
                    <!-- <small>Califonia, USA.</small> -->
                </div>
            </div>
            <div class="gliderInner">
                <div class="testimonialWriter">
                    <h5>Startup Founder</h5>
                    <small>Ontario, Canada.</small>
                    <div class="testimonialStar">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                </div>
                <div>
                    <div><i class="fas fa-quote-left"></i></div>
                    <p>Pretium dictum semper elementum hac vestibulum tabii nedara ges estila cumme Pretium dictum semper elementum
                        hac
                        vestibulum tabii nedara ges estila cumme. Pretium dictum semper elementum hac vestibulum tabii nedara ges
                        estila
                        cumme
                        Pretium dictum semper elementum hac vestibulum tabii nedara ges estila cumme. . Pretium dictum semper
                        elementum
                        hac</p>
                    <div><i class="fas fa-quote-right"></i></div>
                </div>
            
                <div class="testimonialIdentity">
                    <img src="./assets/img/testimonialImage.png" alt="testimonial identity">
                    <p>Idris Chukwuma</p>
                    <!-- <small>Califonia, USA.</small> -->
                </div>
            </div>
        </div>
    
        <!-- <button aria-label="Previous" class="glider-prev"><i class="fas fa-chevron-left"></i></button>
        <button aria-label="Next" class="glider-next"><i class="fas fa-chevron-right"></i></button> -->
        <div role="tablist" class="dots"></div>
    </div>

    <div class="specialContainer">
        <div class="specialContainerInner title">
            <h3>Cards for special events?</h3>
    
            <p>Pretium dictum semper elementum hac vestibulum tabii nedara ges estila cumme Pretium dictum semper elementum
                hac
                vestibulum tabii nedara ges estila cumme. Pretium dictum semper elementum hac vestibulum tabii nedara ges
                estila cumme
                Pretium dictum semper elementum hac vestibulum tabii nedara ges estila cumme.Pretium dictum semper elementum
                hac
                vestibulum tabii nedara ges estila cumme Pretium dictum semper elementum hac vestibulum tabii nedara ges
                estila cumme.</p>
    
            <div class="btnx green text-center">
                <a href="#"><button>Create a Group Board</button></a>
            </div>
        </div>
    </div>

    <div class="pricing" id="pricing">
        <div class="title">
            <h3>Pricing Plan</h3>
            <p>Pretium dictum semper elementum hac vestibulum tabii nedara ges estila cumme Pretium dictum semper elementum hac
            vestibulum tabii nedara ges estila cumme.</p>
        </div>
        <div class="pricingContainer">
        <div class="pricingCard">
            <div class="pricingTitle"><p>Mini Board</p></div>
            <div class="pricingLine"></div>
            <h3>Free</h3>
            <p>10 cards per board</p>

            <div class="btnx green pricingBtn">
                <a href="#"><button>Choose this plan</button></a>
            </div>
        </div>
        <div class="pricingCard">
            <div class="pricingTitle"><p>Premium Plan</p></div>
            <div class="pricingLine"></div>
            <h3> $ 7.50</h3>
            <p>30 cards per board</p>
            <p>paid annually</p>
            
            <div class="btnx green pricingBtn">
                <a href="#"><button>Choose this plan</button></a>
            </div>
            <small>*most preffered*</small>

            <div class="pricingSpecification">
                <p><i class="fas fa-circle"></i> Company Logo</p>
                <p><i class="fas fa-circle"></i> Additional Users</p>
                <p><i class="fas fa-circle"></i> Multiple Card Recipient</p>
                <p><i class="fas fa-circle"></i> Bulk Card Creation</p>
            </div>
        </div>
        <div class="pricingCard">
            <div class="pricingTitle"><p>Enterprise Plan</p></div>
            <div class="pricingLine"></div>
            <h3>$ 25.0</h3>
            <p>55 cards per board</p>
            <p>paid annually</p>
        
            <div class="btnx green pricingBtn">
                <a href="#"><button>Choose this plan</button></a>
            </div>
        
            <div class="pricingSpecification">
                <p><i class="fas fa-circle"></i> Company Logo</p>
                <p><i class="fas fa-circle"></i> Additional Users</p>
                <p><i class="fas fa-circle"></i> Multiple Card Recipient</p>
                <p><i class="fas fa-circle"></i> Bulk Card Creation</p>
            </div>
        </div>
    </div>
    </div>

    

    <div class="subscribeContainer">
        <div class="subscribe">
            <div>
                <img src="./assets/img/reason1.png" alt="subscribe">
            </div>
            <div class="subscribeText">
                <h3>Subscribe to our newsletter</h3>
                <p>Ut ut dictum egestas ut. Suspendisse at egestas nullam volutpat et vestibulum integer feugiat. Vel vel sed
                    nisi, ut
                    augue. Odio penatibus volutpfeugiat felis.</p>
                <form action="">
                    <input type="text" placeholder="Email Address">
                    <span class="btnx"><a href="#"><button>Create a Group Board</button></a></span>
                </form>
            </div>
        </div>
    </div>

    <div class="typeOfCardContainer">
        <div class="typesOfCards">
            <div class="typesOfCardsInner">
                <h3>Birthday Cards</h3>
                <div><a href="#">Birthday Cards</a></div>
                <div><a href="#">Birthday Cards for Boss</a></div>
                <div><a href="#">Birthday Cards for Colleagues</a></div>
                <div><a href="#">Birthday Cards for Friends</a></div>
                <div><a href="#">Birthday Cards for Lovers</a></div>
                <div><a href="#">Birthday Cards for Brothers</a></div>
                <div><a href="#">Birthday Cards for Sisters</a></div>
                <div><a href="#">Birthday Cards for Dads</a></div>
                <div><a href="#">Birthday Cards for Mums</a></div>
                <div><a href="#">Birthday Cards for Cousins</a></div>
                <div><a href="#">Birthday Cards for Spouses</a></div>
                <div><a href="#">Birthday Cards for Him</a></div>
                <div><a href="#">Birthday Cards for Her</a></div>
            </div>
            <div  class="typesOfCardsInner">
                <h3>Birthday Cards</h3>
                <div><a href="#">Birthday Cards</a></div>
                <div><a href="#">Birthday Cards for Boss</a></div>
                <div><a href="#">Birthday Cards for Colleagues</a></div>
                <div><a href="#">Birthday Cards for Friends</a></div>
                <div><a href="#">Birthday Cards for Lovers</a></div>
                <div><a href="#">Birthday Cards for Brothers</a></div>
                <div><a href="#">Birthday Cards for Sisters</a></div>
                <div><a href="#">Birthday Cards for Dads</a></div>
                <div><a href="#">Birthday Cards for Mums</a></div>
                <div><a href="#">Birthday Cards for Cousins</a></div>
                <div><a href="#">Birthday Cards for Spouses</a></div>
                <div><a href="#">Birthday Cards for Him</a></div>
                <div><a href="#">Birthday Cards for Her</a></div>
            </div>
            <div  class="typesOfCardsInner">
                <h3>Special Occassion Cards</h3>
                <div><a href="#">Anniversary Cards</a></div>
                <div><a href="#">Get Well Soon Cards</a></div>
                <div><a href="#">Greeting Cards</a></div>
                <div><a href="#">I LOVE YOU Cards</a></div>
                <div><a href="#">Launching Cards</a></div>
                <div><a href="#">Congratulations Cards</a></div>
                <div><a href="#">Endagement Cards</a></div>
                <div><a href="#">Goodluck Cards</a></div>
                <div><a href="#">Graduation Cards</a></div>
                <div><a href="#">Farewell Cards</a></div>
                <div><a href="#">Christmas Cards</a></div>
                <div><a href="#">Birthday Cards for Him</a></div>
                <div><a href="#">Birthday Cards for Her</a></div>
            </div>
            <div  class="typesOfCardsInner">
                <h3>Collage</h3>
                <div><a href="#">Graduation Collage</a></div>
                <div><a href="#">Anniversary Collage</a></div>
                <div><a href="#">Baby Collage</a></div>
                <div><a href="#">Farewell Collage</a></div>
                <div><a href="#">Father’s Day Collage</a></div>
                <div><a href="#">Mother’s Day Collage</a></div>
                <div><a href="#">Graduation Collage</a></div>
                <div><a href="#">Love Collage</a></div>
                <div><a href="#">Thank you Collages</a></div>
                <div><a href="#">Goodluck Collage</a></div>
                <div><a href="#">Christmas Cards</a></div>
                <div><a href="#">Birthday Cards for Him</a></div>
                <div><a href="#">Birthday Cards for Her</a></div>
            </div>
            <div  class="typesOfCardsInner">
                <h3>Slideshow</h3>
                <div><a href="#">Graduation Slideshow</a></div>
                <div><a href="#">Anniversary Slideshow</a></div>
                <div><a href="#">Baby Slideshow</a></div>
                <div><a href="#">Farewell Slideshow</a></div>
                <div><a href="#">Father’s Day Slideshow</a></div>
                <div><a href="#">Mother’s Day Slideshow</a></div>
                <div><a href="#">Graduation Slideshow</a></div>
                <div><a href="#">Love Slideshow</a></div>
                <div><a href="#">Thank you Slideshow</a></div>
                <div><a href="#">Goodluck Slideshow</a></div>
                <div><a href="#">Christmas Slideshow</a></div>
                <div><a href="#">Birthday Cards for Him</a></div>
                <div><a href="#">Birthday Cards for Her</a></div>
            </div>
        </div>
        <div class="typeOfCardLine"></div>
    </div>

    <div class="footerContainer">
        <div class="socialFooter">
            <span>
                <a href="https://www.linkedin.com/Firacard" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </span>
            <span>
                <a href="https://www.facebook.com/Firacard" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </span>
            <span>
                <a href="https://www.twitter.com/Firacard" target="_blank"><i class="fab fa-twitter"></i></a>
            </span>
        </div>
        <div class="copyRight">
            <p>&copy; 2021 FiraCard. All rights reserved</p>
        </div>
    </div>