    <app-header></app-header>
    <div class="homeContainer pt-5" id="about">
        <div class="homeContainerInner">
            <div class="homeText">
                <h1>A special gesture for a special someone</h1>
                <p>Celebrate a special someone with an online greeting card today, include videos, images and touching messages.
                </p>
        
                <span class="green btnx"><a routerLink="/register"><button>Create a Group Board</button></a></span>
                <div class="btnx smallLink"><a href="./index#howitworks">How to?</a></div>
            </div>
            <div class="imageContainer">
                <div class="image1 homeImage">
                    <img src="./assets/img/home1.png" alt="home1">
                </div>
                <div class="image2 homeImage">
                    <img src="./assets/img/home2.png" alt="home2">
                </div>
                <div class="image3 homeImage">
                    <img src="./assets/img/home3.png" alt="home3">
                </div>
            </div>
        </div>
    </div>
    <div class="trusted">
        <div class="title">
            <h3>Join our community of trusted users</h3>
        </div>
        <div class="trustedImage">
            <span>
                <img src="./assets/img/robinhood.png" alt="robinhood">
            </span>
            <span>
                <img src="./assets/img/linkedinLogo.png" alt="nike">
            </span>
            <span>
                <img src="./assets/img/paypal.png" alt="kuda">
            </span>
            <span>
                <img src="./assets/img/flutterwave.png" alt="flutterwave">
            </span>
            <span>
                <img src="./assets/img/samsung.png" alt="paystack">
            </span>
            <span>
                <img src="./assets/img/google1.png" alt="google">
            </span>
        </div>
    </div>

    <div class="works" id="howitworks">
        <div class="title">
            <h3>How FiraCard works</h3>
            <p>Send a group card in 3 easy steps (easy, peasy, lemon squeezy)</p> 
        </div>
        <div class="worksInner">
            <div class="worksInnerText">
                <h4><span>1</span> Create a board</h4>
                <p>Click on a blank board and personalise it. Choose your preferred background and add details about the celebrant</p>
                <img src="./assets/img/create-board.svg" alt="create Board">
            </div>
            <div class="worksInnerText">
                <h4><span>2</span> Invite contributors(or not)</h4>
                <p>Share your board with contributors so they can add their wishes too. They can add messages, photos, GIFs & videos</p>
                <img src="./assets/img/invite-contr.svg" alt="invite collaborators">
            </div>
            <div class="worksInnerText">
                <h4><span>3</span> Send to the special person</h4>
                <p>Click send to deliver all your wishes in one group card</p>
                <img src="./assets/img/send-wishes.svg" alt="send wishes">
            </div>
        </div>
        <br>
        <div class="btnx green explanationBtn"><a routerLink="/register"><button>Get started now</button></a></div>
    </div>

    <div class="greetingCard">
        <div class="title">
            <h3>A group card for every special occasion</h3>
            <p>Lots of Firacard templates to inspire you; let your feelings show</p>
        </div>

        <div class="cards">
            <div class="cardInner" title="Birthdays">
                <a href="#">
                    <!-- <div class="cardText">
                        <p>Birthdays</p>
                    </div> -->
                    <img src="./assets/img/card1.png" alt="card1">
                </a>
            </div>
            <div class="cardInner" title="Promotion">
                <a href="#">
                    <!-- <div class="cardText">
                        <p>Promotion</p>
                    </div> -->
                    <img src="./assets/img/card2.png" alt="card1">
                </a>
            </div>
            <div class="cardInner" title="Work Anniversary">
                <a href="#">
                    <!-- <div class="cardText">
                        <p>Work Anniversary</p>
                    </div> -->
                    <img src="./assets/img/card3.png" alt="card1">
                </a>
            </div>
            <div class="cardInner" title="Get well soon">
                <a href="#">
                    <!-- <div class="cardText">
                        <p>Get well soon</p>
                    </div> -->
                    <img src="./assets/img/card4.png" alt="card1">
                </a>
            </div>
            <div class="cardInner" title="Retirements">
                <a href="#">
                    <!-- <div class="cardText">
                        <p>Retirements</p>
                    </div> -->
                    <img src="./assets/img/card5.png" alt="card1">
                </a>
            </div>
            <div class="cardInner" title="Goodbyes">
                <a href="#">
                    <!-- <div class="cardText">
                        <p>Goodbyes</p>
                    </div> -->
                    <img src="./assets/img/card6.png" alt="card1">
                </a>
            </div>
        </div>
        
        <div class="btnx green greetingBtn">
            <a routerLink="/register"><button>Create a Group Board</button></a>
        </div>
    </div>
    <div class="explanationContainer" id="features">
        <div class="title">
            <h3>What makes Firacard so cool</h3>
            <p>We have some cool features that will make you and your friends happy</p>
        </div>
        <div class="explanation">
            <div class="explainImage">
                <div><img src="./assets/img/explain1.png" alt=""></div>
                <div><img src="./assets/img/explain2.png" alt=""></div>
            </div>
            <div class="explainText">
                <div class="explainTextInner">
                    <h5>As many boards as you want, free & YOURS</h5>
                    <p>You have more than one special person, we do too and so we have made sure that you can create as many boards as you like for free. You can add images, messages and videos to all of your boards.</p>
                </div>
                <div class="explainTextInner">
                    <h5>15 Contributors go FREE</h5>
                    <p>Lots of things are more fun when we do them together; so you can invite 15 people for free to help you make your group
                    card memorable. With Firacard,everyone can join in.</p>
                </div>
                <div class="explainTextInner">
                    <h5>Customisable & Yours FOREVER</h5>
                    <p>You can personalise your board with a choice of backgrounds, colours, and fonts to tailor it for your special person or simply to show your creativity. What’s more, you can download and keep your firacard of pictures, videos and messages forever. A card and a keep-sake all in one. Versatile!</p>
                </div>
                <div class="explainTextInner">
                    <h5>We are easy to use</h5>
                    <p>Our step-by-step guide means anyone can create a group card or contribute to an existing one. You can give something
                    amazing to someone special easily and without stress.</p>
                </div>
            </div>
        </div>

        <div class="btnx green explanationBtn"><a routerLink="/register"><button>Create a Group Board</button></a></div>
    </div>
    <div class="testimonial">
        <div class="title">
            <h3>What our users are saying</h3>
            <p>A look into what our users think of Firacard</p>
        </div>
        <div class="glider">
            <div class="gliderInner">
                <div class="testimonialWriter">
                    <h5>Entrepreneur,                    
</h5>
                    <small>Oxford, UK.</small>
                    <div class="testimonialStar">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                </div>
                <div>
                    <div><i class="fas fa-quote-left"></i></div>
                    <p>I decided to use Firacard for my girlfriend’s birthday. It was a really nice way of getting all her friends and family
                    to send in some photos and messages and collate them all in one place. She was so surprised and she absolutely loved it!
                    Will definitely be recommending.</p>
                    <div><i class="fas fa-quote-right"></i></div><br><br><br><br>
                </div>
            
                <div class="testimonialIdentity">
                    <img src="./assets/img/testimonialImage1.png" alt="testimonial identity">
                    <p>James </p>
                    <!-- <small>Califonia, USA.</small> -->
                </div>
            </div>
            <div class="gliderInner">
                <div class="testimonialWriter">
                    <h5>Head of HR,</h5>
                    <small>Dublin, Ireland.</small>
                    <div class="testimonialStar">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                </div>
                <div>
                    <div><i class="fas fa-quote-left"></i></div>
                    <p>I work in an insurance firm and we use Firacard to celebrate team achievements and to send commendations to team members
                    who have gone over and beyond for the team or business. We also use Firacard to celebrate individual achievements like
                    promotions, transfers and to say goodbye to colleagues who are leaving. Firacard is convenient, easy to use and just
                    great.”
                    
                    
</p>
                    <div><i class="fas fa-quote-right"></i></div>
                </div>
            
                <div class="testimonialIdentity">
                    <img src="./assets/img/testimonialImage2.png" alt="testimonial identity">
                    <p>Amara</p>
                    <!-- <small>Califonia, USA.</small> -->
                </div>
            </div>
            <div class="gliderInner">
                <div class="testimonialWriter">
                    <h5>Product lead,</h5>
                    <small>Ontario, Canada</small>
                    <div class="testimonialStar">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                </div>
                <div>
                    <div><i class="fas fa-quote-left"></i></div>
                    <p>I work for a communications agency and we use Firacard to send other employees birthday messages from the team or to
                    congratulate them on big events like having children, getting engaged or anything that we can celebrate with them. It’s
                    been a nice way of making people feel valued and still part of the bigger team, especially with working from home over
                    the past year!’’
                    
</p>
                    <div><i class="fas fa-quote-right"></i></div>
                </div>
            
                <div class="testimonialIdentity">
                    <img src="./assets/img/testimonialImage3.png" alt="testimonial identity">
                    <p>Tanvir</p>
                    <!-- <small>Califonia, USA.</small> -->
                </div>
            </div>
            <div class="gliderInner">
                <div class="testimonialWriter">
                    <h5>Designer,</h5>
                    <small>New York, USA.</small>
                    <div class="testimonialStar">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                </div>
                <div>
                    <div><i class="fas fa-quote-left"></i></div>
                    <p>’My mum, who is quite a bit older I may add, organised and sent me a lovely card from my family and friends back home.
                    It was really such a great surprise, thank you so much Firacard!’’
                    
                    
</p>
                    <div><i class="fas fa-quote-right"></i></div>
                </div>
            
                <div class="testimonialIdentity">
                    <img src="./assets/img/testimonialImage.png" alt="testimonial identity">
                    <p>Hannah</p>
                    <!-- <small>Califonia, USA.</small> -->
                </div>
            </div>
            <div class="gliderInner">
                <div class="testimonialWriter">
                    <h5>Finance Manager,</h5>
                    <small>London, UK.</small>
                    <div class="testimonialStar">
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star"></i></span>
                        <span><i class="fas fa-star-half-alt"></i></span>
                    </div>
                </div>
                <div>
                    <div><i class="fas fa-quote-left"></i></div>
                    <p>I’ve been using Firacard for a good while now and quickly upgraded to their Premium plan to get access to some more nice
                    features. I use it for all my friends’ birthdays and then for Christmas and any other occasion so I save quite a lot on
                    not buying cards and stamps! Also means it’s quite eco-friendly too.”
                    
                    

            
            
                    </p>
                    <div><i class="fas fa-quote-right"></i></div>
                </div>
            
                <div class="testimonialIdentity">
                    <img src="./assets/img/testimonialImage.png" alt="testimonial identity">
                    <p>Lee</p>
                    <!-- <small>Califonia, USA.</small> -->
                </div>
            </div>
        </div>
    
        <!-- <button aria-label="Previous" class="glider-prev"><i class="fas fa-chevron-left"></i></button>
        <button aria-label="Next" class="glider-next"><i class="fas fa-chevron-right"></i></button> -->
        <div role="tablist" class="dots"></div>
    </div>

    <div class="specialContainer">
        <div class="specialContainerInner title">
            <h3>Team love starts here</h3>
    
            <p>Create a sense of belonging and build more meaningful relationships within your teams by using our group cards to celebrate both big achievements and small wins within your teams</p>
    
            <div class="btnx green text-center">
                <a routerLink="/register"><button>Create a Group Board</button></a>
            </div>
        </div>
    </div>

    <div class="pricing" id="pricing">
        <div class="title">
            <h3>Pricing Plan</h3>
            <p>Our group cards are cost-effective, convenient and easy to use. Celebrate with loved ones from wherever you are</p>
        </div>
        <div class="pricingContainer">
        <div class="pricingCard">
            <div class="pricingTitle"><p>The Free board</p></div>
            <div class="pricingLine"></div>
            <h3>$0</h3>
            <p>Up to 15 contributors.</p>
            <p>Add messages and photos to your board.</p>
            <p>Multiple background themes.</p>
            <p>Download your board and receive it in your inbox.</p>
            <p>View your board online anytime.</p>
            <p>View your board online anytime.</p>
            <br>
            <div class="btnx green pricingBtn">
                <a href="#"><button>Choose this plan</button></a>
            </div>
        </div>
        <div class="pricingCard">
            <div class="pricingTitle"><p>The Premium Board <br>[most selected]</p></div>
            <div class="pricingLine"></div>
            <h3>$5.99</h3>
            <p>Up to 100 contributors</p>
            <p>Add messages, photos plus videos, audio files and gifs </p>
            <p>Allows for download of your board and online delivery</p>
            <p>View your board online anytime</p>
            <p>Download your board as an online poster</p>
            <p>You can also download your board as a slide show</p>
            <p>Multiple themes available for customisation</p>
            <br>           
            <div class="btnx green pricingBtn">
                <a href="#"><button>Choose this plan</button></a>
            </div>
            <!-- <small>*most selected*</small>

            <div class="pricingSpecification">
                <p><i class="fas fa-circle"></i> Company Logo</p>
                <p><i class="fas fa-circle"></i> Additional Users</p>
                <p><i class="fas fa-circle"></i> Multiple Card Recipient</p>
                <p><i class="fas fa-circle"></i> Bulk Card Creation</p>
            </div> -->
        </div>
        <div class="pricingCard">
            <div class="pricingTitle"><p>The Infinity Board</p></div>
            <div class="pricingLine"></div>
            <h3>$15.99</h3>
            <p>An infinite number of contributors</p>
            <p>Add messages, photos plus videos, audio files and gifs </p>
            <p>Allows for download of your board and online delivery</p>
            <p>View your board online any time</p>
            <p>Download your board as an online poster</p>
            <p>You can also download your board as a slide show</p>
            <p>Multiple themes available for customisation</p>
            <p>Add your company logo</p>
            <p>Add music to the Slideshow</p>
            <br>      
            <div class="btnx green pricingBtn">
                <a href="#"><button>Choose this plan</button></a>
            </div>
        
            <!-- <div class="pricingSpecification">
                <p><i class="fas fa-circle"></i> Company Logo</p>
                <p><i class="fas fa-circle"></i> Additional Users</p>
                <p><i class="fas fa-circle"></i> Multiple Card Recipient</p>
                <p><i class="fas fa-circle"></i> Bulk Card Creation</p>
            </div> -->
        </div>
    </div>
    </div>

    

    <div class="subscribeContainer">
        <div class="subscribe">
            <div>
                <img src="./assets/img/reason1.png" alt="subscribe">
            </div>
            <div class="subscribeText">
                <h3>Sign up to receive reminders for your special occasions.</h3>
                <p>Never miss an important occasion again. When you sign up we will send you messages that will benefit you or put a smile on your face.</p>
                <form action="">
                    <input type="text" placeholder="Email Address">
                    <span class="btnx"><a href="#"><button>Sign up now</button></a></span>
                </form>
            </div>
        </div>
    </div>
<app-footer></app-footer>