<div class="container">
    <header class="row mb-4">
        <div class="col-md-12">
            <div class="d-flex justify-content-between">
              <h2 class="text-blue">My Profile</h2>
   
            </div>
            <ul class="navbar-nav">
              <li class="nav-item {{activeTab === 'userBio' && 'active'}}" >
                <a class="nav-link" routerLink='/profile' [fragment]="'userBio'">User bio</a>
              </li>
              <li class="nav-item {{activeTab === 'accountSecurity' && 'active'}}">
                <a class="nav-link" routerLink='/profile' [fragment]="'accountSecurity'">Account Security</a>
              </li>
              <li class="nav-item {{activeTab === 'emailPreference' && 'active'}}" >
                <a class="nav-link" routerLink='/profile' [fragment]="'emailPreference'">Email Preferences</a>
              </li>
            </ul>
        </div>
      </header>
      <div class="row" *ngIf="activeTab === 'userBio'">
          <div class="col-md-8">
            <div [formGroup]="form">
              <div class="form-group">
                <label>First Nmae</label>
                <input formControlName="firstName" type="text" class="form-control" placeholder="enter firstname">
                <div class="text-danger" *ngIf="f('firstName').touched && f('firstName').invalid ">
                  <span>First name is required</span>
                </div>
            </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input formControlName="lastName" type="text" class="form-control" placeholder="enter lastname">
                    <div class="text-danger" *ngIf="f('lastName').touched && f('lastName').invalid ">
                      <span>Last name is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email Address</label>
                    <input formControlName="email" readonly type="email" class="form-control" placeholder="enter email">
                    <div class="text-danger" *ngIf="f('email').touched && f('email').invalid ">
                      <span>Email address is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Default timezone</label>
                    <select formControlName="timezone" class="form-control">
                      <option disabled value="">Select Timezone</option>
                        <option *ngFor="let timezone of timezones" [value]="timezone.value">{{timezone.text}}</option>
                    </select>
                    <div class="text-danger" *ngIf="f('timezone').touched && f('timezone').invalid ">
                      <span>Timezone is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <button (click)="updateProfile()" [disabled]="form.invalid || loading.profile" class="btn btn-pry">
                      Update Profile <i *ngIf="loading.profile" class="fa fa-spinner fa-spin"></i>
                    </button>
                </div>
                
            </div>
          </div>
      </div>
      <div class="row" *ngIf="activeTab === 'accountSecurity'">
        <div class="col-md-8">
          <div [formGroup]="pwdForm">
              <div class="form-group">
                  <label>Current Password</label>
                  <input formControlName="currentPassword" type="password" class="form-control" placeholder="enter current password">
                  <div class="text-danger" *ngIf="pwdForm.controls.currentPassword.touched && pwdForm.controls.currentPassword.invalid">
                    <span>current password is required</span>
                  </div>
              </div>
              <div class="form-group">
                  <label>New Password</label>
                  <input formControlName="newPassword" type="password" class="form-control" placeholder="enter new password">
                  <div class="text-danger" *ngIf="pwdForm.controls.newPassword.touched && pwdForm.controls.newPassword.invalid">
                    <span *ngIf="pwdForm.controls.newPassword.errors?.required">new password is required</span>
                    <span *ngIf="pwdForm.controls.newPassword.errors?.minlength">new password must be upto 8 characters</span>
                  </div>
              </div> 
              <div class="form-group">
                <label>Confirm New Password</label>
                <input formControlName="confirmNewPassword" type="password" class="form-control" placeholder="enter new password">
                <div class="mt-1 text-danger" *ngIf="pwdForm.controls.confirmNewPassword.touched && (pwdForm.controls.confirmNewPassword.invalid || !pwdMatch ) ">
                  <span>new password and confrim password does not match</span>
                </div>
            </div>
              <div class="form-group">
                  <button (click)="updatePwd()" [disabled]="(pwdForm.invalid || !pwdMatch) || loading.pwd" class="btn btn-pry">
                    Update Security  <i *ngIf="loading.pwd" class="fa fa-spinner fa-spin"></i>
                  </button>
              </div>
              
          </div>
        </div>
    </div>
    <div class="row" *ngIf="activeTab === 'emailPreference'">
        <div class="col-md-8">
          <div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1"><b>Important Emails</b>: Invitations, deliveries, and communications directly related to your FiraCard</label>
                  </div>
            </div>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck2">
                  <label class="custom-control-label" for="customCheck2"><b>Post Notifications</b>: Daily update if new posts are added to your FiraCard</label>
                </div>
            </div>
            
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3"><b>Inspirations</b>: Product updates, discounts, and inspirations to create new on FiraCard</label>
                  </div>
       
            </div>
              <div class="form-group">
                  <button class="btn btn-pry">Save</button>
              </div>
              
          </div>
        </div>
    </div>

</div>