<div class="signContainer">
    <div class="loginImage">
        <img src="./assets/img/login.png" alt="SignUp image">
    </div>
    <div class="signOnlyContainer">
        <app-oauth  [page]="'signin'" ></app-oauth>
        <div class="or">
            <div class="line"></div>
            <p>or</p>
            <div class="line"></div>
        </div>
        <div class="loginRedirect">
            <div class="loginRedirectTitle">
                <p>Already have an account?</p>
                <a routerLink="/register">REGISTER HERE</a>
            </div>
        </div>
    </div>
</div>