<div class="signContainer">
    <div class="loginImage">
        <img src="./assets/img/login.png" alt="SignUp image">
    </div>
    <div class="signOnlyContainer">
        <div class="socialInner">
            <a (click)="googleLogin()" class="social cursor-pointer">
                <img src="./assets/img/google.png" alt="google">
                <p>sign in with google</p>
            </a>
        </div>
        <div class="socialInner">
            <a (click)="facebookLogin()" class="social cursor-pointer">
                <span><i class="fab fa-facebook"></i></span>
                <p>sign in with facebook</p>
            </a>
        </div>
        <div class="socialInner emailContainer">
            <a routerLink="/login" class="social email">
                <img src="./assets/img/mail.png" alt="email">
                <p>sign in with email</p>
            </a>
        </div>
        <div class="or">
            <div class="line"></div>
            <p>or</p>
            <div class="line"></div>
        </div>
        <div class="loginRedirect">
            <div class="loginRedirectTitle">
                <p>Already have an account?</p>
                <a routerLink="/register">REGISTER HERE</a>
            </div>
        </div>
    </div>
</div>