/* You can add global styles to this file, and also import other style files */
@import './assets/css/style.css';
@import './assets/css/signUp.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '~ngx-toastr/toastr';

.text-blue {
    color: #2C4B75;
}
.text-pry{
    color: #A1C042;
}
.h-80v {
    height: 80vh;
}
.flex-direction-row {
    flex-direction: row;
}
.btn-pry {
    background: #A1C042;
    box-shadow: 0px 2px 8px rgba(76, 175, 80, 0.16);
    border-radius: 4px;
    color: white;
}
.btn-pry-outline {
    border: 1px solid #A1C042;
    border-radius: 4px;
    color: #A1C042;
    &:hover{
        color: #A1C042;
    }
}
.badge-lt-blue {
    background: #F1F7FF;
    border-radius: 4.66383px;
}
.cursor-pointer {
    cursor: pointer;
}
.pricingCard {
    p {
        margin: 0px;
        padding: 2px !important;
      }
}
.subscribeContainer {
    form {
        padding: 0px;
    }
    p {
        font-weight: 400 !important;
    }
    button {
        padding: 7px 15px !important;
    }
}
.signContainer {
    .socialInner {
        height: 45px;
        img{
            height: 27px;
            width: 27px;
            object-fit: contain;
        }
    }
}
.btn, .form-control {
    box-shadow: none !important;
}