<!-- <div class="typeOfCardContainer">
    <div class="typesOfCards">
        <div class="typesOfCardsInner">
            <h3>Birthday Cards</h3>
            <div><a href="#">Birthday Cards</a></div>
            <div><a href="#">Birthday Cards for Boss</a></div>
            <div><a href="#">Birthday Cards for Colleagues</a></div>
            <div><a href="#">Birthday Cards for Friends</a></div>
            <div><a href="#">Birthday Cards for Lovers</a></div>
            <div><a href="#">Birthday Cards for Brothers</a></div>
            <div><a href="#">Birthday Cards for Sisters</a></div>
            <div><a href="#">Birthday Cards for Dads</a></div>
            <div><a href="#">Birthday Cards for Mums</a></div>
            <div><a href="#">Birthday Cards for Cousins</a></div>
            <div><a href="#">Birthday Cards for Spouses</a></div>
            <div><a href="#">Birthday Cards for Him</a></div>
            <div><a href="#">Birthday Cards for Her</a></div>
        </div>
        <div  class="typesOfCardsInner">
            <h3>Birthday Cards</h3>
            <div><a href="#">Birthday Cards</a></div>
            <div><a href="#">Birthday Cards for Boss</a></div>
            <div><a href="#">Birthday Cards for Colleagues</a></div>
            <div><a href="#">Birthday Cards for Friends</a></div>
            <div><a href="#">Birthday Cards for Lovers</a></div>
            <div><a href="#">Birthday Cards for Brothers</a></div>
            <div><a href="#">Birthday Cards for Sisters</a></div>
            <div><a href="#">Birthday Cards for Dads</a></div>
            <div><a href="#">Birthday Cards for Mums</a></div>
            <div><a href="#">Birthday Cards for Cousins</a></div>
            <div><a href="#">Birthday Cards for Spouses</a></div>
            <div><a href="#">Birthday Cards for Him</a></div>
            <div><a href="#">Birthday Cards for Her</a></div>
        </div>
        <div  class="typesOfCardsInner">
            <h3>Special Occassion Cards</h3>
            <div><a href="#">Anniversary Cards</a></div>
            <div><a href="#">Get Well Soon Cards</a></div>
            <div><a href="#">Greeting Cards</a></div>
            <div><a href="#">I LOVE YOU Cards</a></div>
            <div><a href="#">Launching Cards</a></div>
            <div><a href="#">Congratulations Cards</a></div>
            <div><a href="#">Endagement Cards</a></div>
            <div><a href="#">Goodluck Cards</a></div>
            <div><a href="#">Graduation Cards</a></div>
            <div><a href="#">Farewell Cards</a></div>
            <div><a href="#">Christmas Cards</a></div>
            <div><a href="#">Birthday Cards for Him</a></div>
            <div><a href="#">Birthday Cards for Her</a></div>
        </div>
        <div  class="typesOfCardsInner">
            <h3>Collage</h3>
            <div><a href="#">Graduation Collage</a></div>
            <div><a href="#">Anniversary Collage</a></div>
            <div><a href="#">Baby Collage</a></div>
            <div><a href="#">Farewell Collage</a></div>
            <div><a href="#">Father’s Day Collage</a></div>
            <div><a href="#">Mother’s Day Collage</a></div>
            <div><a href="#">Graduation Collage</a></div>
            <div><a href="#">Love Collage</a></div>
            <div><a href="#">Thank you Collages</a></div>
            <div><a href="#">Goodluck Collage</a></div>
            <div><a href="#">Christmas Cards</a></div>
            <div><a href="#">Birthday Cards for Him</a></div>
            <div><a href="#">Birthday Cards for Her</a></div>
        </div>
        <div  class="typesOfCardsInner">
            <h3>Slideshow</h3>
            <div><a href="#">Graduation Slideshow</a></div>
            <div><a href="#">Anniversary Slideshow</a></div>
            <div><a href="#">Baby Slideshow</a></div>
            <div><a href="#">Farewell Slideshow</a></div>
            <div><a href="#">Father’s Day Slideshow</a></div>
            <div><a href="#">Mother’s Day Slideshow</a></div>
            <div><a href="#">Graduation Slideshow</a></div>
            <div><a href="#">Love Slideshow</a></div>
            <div><a href="#">Thank you Slideshow</a></div>
            <div><a href="#">Goodluck Slideshow</a></div>
            <div><a href="#">Christmas Slideshow</a></div>
            <div><a href="#">Birthday Cards for Him</a></div>
            <div><a href="#">Birthday Cards for Her</a></div>
        </div>
    </div>
    <div class="typeOfCardLine"></div>
</div> -->

<div class="footerContainer">
    <div class="socialFooter">
        <span>
            <a href="https://www.facebook.com/Firacard" target="_blank" ><img src="/assets/icons/facebook.svg" alt="icon"></a>
        </span>
        <span>
            <a href="https://www.twitter.com/Firacard" target="_blank" ><img src="/assets/icons/twitter.svg" alt="icon"></a>
        </span>
        <span>
            <a href="https://www.instagram.com/firacard" target="_blank" >
                <div class="d-inline-block border p-2 rounded-circle">
                    <i class="fab fa-instagram"></i>
                </div>
            </a>
        </span>
    </div>
    <div class="copyRight">
        <p>&copy; 2021 FiraCard. All rights reserved</p>
    </div>
</div>